<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Foodapp</title>
</head>
<body>
    <h1>Bienvenue sur Foodapp</h1>

    <form action="/getkw" method="post">
    <label for="Aliment">Nom de l'aliment :</label>
    <input type="text" id="keyword" name="keyword" required>
    <br>
    <input type="submit" value="Envoyer">

</form>
</body>
</html>